/* 
    General document styles can be found here.
*/

* {
    margin: 0;
    padding: 0;
    color: white;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    font: 14px consolas, monospace;
    user-select: none;
    -webkit-user-select: none;
}

.webkitDraggable {
    -webkit-app-region: drag;
}

html {
    background: #444;
    overflow: hidden;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
}

.checkerBoard {
    background: url('../assets/bg.png');
}

#brushPrint {
    display: none;
}